
html {
  background-color: grey;
}

html * {
  font-family: 'Average Sans', sans-serif;
}

.top-menu-btn {
  text-transform: uppercase;
}

.top-menu-btn:hover {
  color: yellow;
  text-decoration: none;
}

h1 {
  font-weight: bold;
}

.card {
  margin: 10px;
  .card-body {
    .card-title {
      text-transform: uppercase;
    }
  }
}

agm-map {
  height: 300px;
 }
