<div class="container">

  <div class="row">
    <div class="col col-12">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title"><i class="fas fa-plane-departure"></i>&nbsp;Moje podróże</h2>
          <div class="row text-center">
            <div *ngFor="let trip of trips;" class="col col-xs-12 col-md-4">
              <div class="card" style="width: 18rem;">
                <img src="{{trip.tripImage}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{trip?.tripTitle}}</h5>
                  <p class="card-text">{{trip?.tripDescription}}</p>
                  <a [routerLink]="'/myTrips/myTripDetails'" class="btn btn-primary">Szczegóły</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col col-12">
      <h1>{{texto}}</h1>
      <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div> -->

</div>
